body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: lightblue;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.navbar a {
  list-style: none;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-shadow: black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
